<!--using html5 doctype -->
<!doctype html>
<!-- Test -->
<!--using language attribute-->
<html lang="en">
   <head>
      <!--using character set attribute in meta tag-->
      <meta charset="UTF-8">
      <!--bootstrap-4 for mobile responsive-->
      <!--using below meta tag to set width and initial zoom level-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" type="text/css" href="\static\css\bootstrap.min.css">
      <!--link for input group prepend for adding text / icon in the input -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="\static\css\loader.css">
      <!--link for CSS-->
      <link rel="stylesheet" type="text/css" href="\static\css\style.css">
      <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <style>
         #loginscreen
         {
         margin-top: 100px;
         }



.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

      </style>
      <script type="text/javascript">window.setTimeout("document.getElementById('successMessage').style.display='none';", 20000);</script>
   </head>
   <body>
      <div class="container">
         
         <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <h4 class="card-title text-center mb-3">Forgot Password</h4>
                  <label class="text-dark"> Please Enter Your Registered Email or Mobile </label>
                  {% for mesg in get_flashed_messages() %}
         <div id="successMessage" class="alert alert-danger" style="color: red; text-align: center;">
            <h4>{{ mesg }}</h4>
         </div>
         {% endfor %}
                  <form   id="forgot_form"  action = "{{ url_for('user.PostForgot_password') }}" method = "POST">
                    <div class="form-label-group">
                      <input type="text" id="email" name="email" class="form-control" placeholder="Email address"  >
                    </div>
                    
                    <div class="text-center">
                       <label> OR </label>
                   </div>
      
                    <div class="form-label-group">
                      <input type="number" id="mobile" class="form-control" name="mobile" placeholder="Enter Mobile" >
                    </div>
      
                    
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" id="forgot_pass_btn" type="submit">Get OTP</button>
                    <hr class="my-4">
                    <div class="text-center">
                      <a  href="{{ url_for('user.Login') }}">
                        Click here to login</a>  <br/>
                        <!-- <a  href="{{ url_for('user.Register') }}" >Create an Account!</a> -->
                        <a  href="http://boa2021reg.urbanedge.co.in/" >Create an Account!</a>

                  </div>
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
      
         
      </div>
      <script  type= "text/javascript"  src="{{ ('../static/js/jquery.min.js')}}"></script>
      <script  type= "text/javascript"  src="{{ ('../static/js/jquery.validate.min.js')}}"></script>
      <script  type= "text/javascript"  src="{{ ('../static/js/bootstrap.min.js')}}"></script>
      <script src = "{{('/static/script/loader.js')}}"> </script>

  
      <script type="text/javascript">
          $(document).ready(function(){
  
          
              $("#forgot_pass_btn").click(function() {
                  // validate_forgot_form()
                  $("#alert-success").hide()
                  $("#alert-danger").hide()
              })
            
          })
  
  
          function validate_forgot_form()
           {
           
               errorclass : 'error',
           
               $("#forgot_form").validate({
                  
                   rules : {
                       email : {
                           mobile : true,
                           email : true
                       },
                       
                       password : "required",
                   },
           
                   messages : {
                       password : "Please enter the Password",
                       email : {
                           required : "Please enter the Email id",
                           email : "Please provide valid Email Id"
                       },
                       
                   },
                   highlight: function(element) {
                       $(element).parent().addClass('error')
                   },
               
                   unhighlight: function(element) {
                       $(element).parent().removeClass('error')
                   },
           
                   submitHandler: function(form) {
                       form.submit();
                   }
               })
                  
           }
      </script>

   </body>
</html>