<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Login</title>
    <!-- Custom fonts for this template-->
    <!-- <link rel="stylesheet" type="text/css" href="{{ ('static/vender_1/fontawesome-free/css/all.min.css') }}"> -->

    <link rel="stylesheet" type="text/css" href="\static\css\style.css">

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ ('static/css/bootstrap.min.css') }}">



</head>

<body class="bg-gradient-primary">

    <div class="container">
      
        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0" style="margin-top: 100px; margin-bottom: 100px;">
                        <!-- Nested Row within Card Body -->
                        <div class="row ">
                            <div class="col-lg-3">
                                <input type="hidden" name="">
                                
                            </div>
                           

                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4"> Back Office Login </h1>
                                    </div>


                                       {% for mesg in get_flashed_messages() %}
                                        <div class="alert alert-danger" id="successMessage" style="color: red; text-align: center;">
                                          <h4>{{ mesg }}</h4>
                                        </div>
                                          {% endfor %}
                                        
                                          
                                        <form  id="bo_login_form" action="{{ url_for('backoffice.PostBOLogin') }}" method="POST">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                id="email" name="email" aria-describedby="emailHelp"
                                                placeholder="Username">
                                                <span class="error" style="color: red;" name="emailerror" id="emailerror"></span> 
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="password" name="password" placeholder="Password">
                                                <span class="error" style="color: red;" name="passworderror" id="passworderror"></span> 

                                        </div>
                                        
                                        <input type="submit" value="Login" name="submit" id="bo_login_submit" class="btn btn-primary btn-user btn-block">
                                    
                                        
                                    </form>
                                    <hr>
                                 
                                    
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <input type="hidden" name="hidden_field">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <script  type= "text/javascript"  src="{{ ('../static/js/jquery.min.js')}}"></script>
    <script  type= "text/javascript"  src="{{ ('../static/js/jquery.validate.min.js')}}"></script>
    <script  type= "text/javascript"  src="{{ ('../static/js/bootstrap.min.js')}}"></script>

    <script type="text/javascript">
        $(document).ready(function(){

        
            $("#bo_login_submit").click(function() {
                validate_bo_login_form()
                $("#alert-success").hide()
                $("#alert-danger").hide()
            })
          
        })


        function validate_bo_login_form()
         {
         
             errorclass : 'error',
         
             $("#bo_login_form").validate({
                
                 rules : {
                     email : {
                         required : true
                     },
                     
                     password : "required",
                 },
         
                 messages : {
                     password : "Please enter the Password",
                     email : {
                         required : "Please enter the Username"
                                              },
                     
                 },
                 highlight: function(element) {
                     $(element).parent().addClass('error')
                 },
             
                 unhighlight: function(element) {
                     $(element).parent().removeClass('error')
                 },
         
                 submitHandler: function(form) {
                     form.submit();
                 }
             })
                
         }
    </script>

</body>

<script type="text/javascript">window.setTimeout("document.getElementById('successMessage').style.display='none';", 20000); 
</script>



</html>