{% extends 'hall_screen/hall_screen_layout.html' %}

{% block title %} live Hall Screen {% endblock %}
{% block content %}


{% set badge_colors = ['','btn-color1','btn-color2','btn-color3','btn-color4'] %}

<style>

  body  {
  background-image: url("/static/images/background/way_sign_v4.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #010424;
  background-attachment: fixed;
  }

  @media screen and (max-width: 750px) {
    body  {
      background-image: url("/static/images/background/way_sign_mobile_v4.jpg") !important;
      background-repeat: no-repeat;
      background-size: 100%;
      background-color: #010424;
      background-attachment: fixed; 
    }
  }

  

  .table td , .table th  {
    border-top: 1px solid#fff;
  }
  .table th
  {
    position: sticky;
    top:0;
  }  

  #halls{
    position: absolute;
    left: 25.5%;
    width: 24.5%;
    top: calc(100vw * 0.27);
  }

  .btn-hall
  {
    font-size: 2em;
  }

  .btn-color1 {
      color: #fff;
      background-color: #ff0000;
      border-color: #ff0000;
  }

  .btn-color2 {
      color: #fff;
      background-color: #37359a;
      border-color: #37359a;
  }


  .btn-color3 {
      color: #fff;
      background-color: #0043ff;
      border-color: #0043ff;
  }

  .btn-color4 {
      color: #fff;
      background-color: #495057;
      border-color: #495057;
  }

</style>


<!-- Global site tag (gtag.js) - Google Analytics -->
  <div class="container-fluid">  
    <div class="row  mt-5">
      <div class="col-md-3 text-center">
       <!--  <h3><a href="{{ url_for('sessions.Programsheet') }}" style="align-items: center;" title="program_sheet" class="btn btn-lg btn-primary" >
          GO BACK TO PROGRAMSHEET <i class='fas fa-angle-right'></i> </a></h3> -->
      </div>
      <div class="col-md-6  text-center">
        <!-- <img src="/static/images/background/inner_page_v2.jpg" style="height:75px;" class="img-fluid" alt="Responsive image"> -->
      </div>
      <div id="hallsbtnlobby" class="col-md-3 text-center">
        <h3><a href="{{ url_for('user.Lobby') }}" style="align-items: center;" title="image" class="btn btn-lg btn-primary" >
            GO BACK TO LOBBY <i class='fas fa-angle-right'></i> </a></h3>
      </div>
    </div>
            <div id="halls">
    <div class="row">

          {% for p in results %}
          <div class="col-12 mb-1"> 
          
            <a  class="btn {{ badge_colors[loop.index] }} btn-hall btn-block "  href="{{ url_for('sessions.session_by_date_hall',s_date=p.date.strftime('%Y-%m-%d'),s_hall=p.session_hall) }}">
              {{ p.session_hall|upper}}
            </a>   
          
          </div>       
          {% endfor %} 

        </div>
     
    </div>

    
  </div>
  
{% endblock %}
